# SMTP邮箱设置
smtp_user = 'xxxxxx@qq.com'
smtp_pass = 'xxxxxxxxx'
smtp_host = 'smtp.qq.com'
smtp_port = 465

# 发件邮箱，收件邮箱
email_sender = 'xxxxxx@qq.com'
email_reveive = 'xxxxxx@qq.com'

# 收发人昵称，可以为空
email_from = '邮件备份工具'
email_to = ''

# 自定义主机名，显示在邮件主题中，便于区分
# 留空使用计算机主机名
host_name = '土豆服务器'